RewriteEngine On

# Przekierowanie dla Instagrama i aplikacji mobilnych bezpośrednio na YouTube
RewriteCond %{HTTP_USER_AGENT} "instagram" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ".*Mobile.*" [NC]
RewriteRule ^film/?$ https://www.youtube.com/@angelkacs [R=302,L]

# Cache control
<FilesMatch "\.(html)$">
    Header set Cache-Control "max-age=300, public"
</FilesMatch>
